/********* FONTS *********/
@font-face {
  font-family: "Jost", sans-serif;
  src: url("../fonts/Jost.ttf");
  font-display: swap;
}


@font-face {
  font-family: "Montserrat-Medium", sans-serif;
  src: url("../fonts/Montserrat-Medium.ttf");
  font-display: swap;
}
