/********* VARIABLES *********/

:root {
  --white: #ffffff;
  --black: #000000;
  --dark-gray: #525252;
  --dark-charcoal: #2e2e2e;
  --red: #9d1b30;
  --bg-one: #0003;
  --bg-two: #fff3;
  --light-white: #f4f4f4;
  --rich-black: #050b15;
}

$font-body: "Jost", sans-serif;
$font-head: "Montserrat", sans-serif;
