/********* VARIABLES *********/

:root {
  --white: #ffffff;
  --black: #000000;
  --theme-black: #333333;
  --theme-yellow: #cc8c5e;
  --theme-border: #e7e6e6;
  --theme-gray: #666666;
  --theme-white: #f6f6f6;
  --theme-white-secondary: #f9f9f9;
  --theme-gray-secondary: #6c706f;
  --theme-accent: #9fa1a0;
}

$font-body: "Manrope", sans-serif;
$font-head: "Inter", sans-serif;
