/********** RESET CSS ***********/
* {
  &::after,
  &::before {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: inherit;
  }
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  margin: 0;
}

header {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}

a {
  text-decoration: none !important;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-bottom: 0;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}
p {
  margin-bottom: 0;
}
.btn.focus,
.btn:focus,
button:focus {
  outline: none;
  box-shadow: none;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 575px) {
  .container {
    max-width: 100%;
    padding-inline: 1rem;
  }
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 54rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 72rem;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 96rem;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 114rem;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 132rem;
  }
}

@media screen and (min-width: 1600px) {
  .container {
    max-width: 150rem;
  }
}
