/********* FOOTER *********/
@use "../abstract/" as *;
footer {
  background: var(--rich-black);
}

.ku-footer {
  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__col {
    border-right: 1px solid rgba(255, 255, 255, 0.239);
    padding: 6rem 0 3.2rem;

    h6 {
      font-family: $font-head;
      margin-block-end: 2rem;
      font-size: 2rem;
      font-weight: 600;
      color: var(--white);
    }

    p {
      font-size: 1.6rem;
      color: var(--white);
      font-weight: 400;
      margin-block-end: 3rem;
      font-family: $font-body;
      max-width: 60rem;
    }

    a {
      font-size: 1.6rem;
      color: var(--white);
      font-weight: 400;
      display: block;
      margin-block-end: 1.5rem;
      font-family: $font-body;
    }
  }

  &__col--1 {
    flex-basis: 40%;

    & > a {
      img {
        max-width: 30rem;
        filter: brightness(0) invert(1);
        margin-inline: 0;
        display: block;
        margin-block-end: 3rem;
      }
    }

    ul {
      display: flex;
      gap: 1rem;
      align-items: center;

      li {
        width: 4rem;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--white);
        border-radius: 50%;
        transition: all 0.3s ease-in-out;

        &:hover {
          background: var(--red);
          border: 1px solid var(--red);
        }

        a {
          margin-bottom: 0.4rem;
        }
      }
    }
  }

  &__col--2,
  &__col--3 {
    flex-basis: 20%;

    a {
      transition: color 0.3s ease-in-out;

      &:hover {
        color: var(--red);
      }
    }
  }

  &__col--4 {
    flex-basis: 20%;
    padding-inline: 0 !important;

    li {
      font-size: 1.6rem;
      color: var(--white);
      font-weight: 400;
      display: block;
      margin-block-end: 1.5rem;
      font-family: "Jost", sans-serif;
    }
  }

  &__col--2,
  &__col--3,
  &__col--4 {
    padding-inline: 3.2rem;
  }

  &__address {
    padding-inline: 3.2rem;
    padding-block-end: 3.2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.239);
  }

  &__contact {
    padding-inline: 3.2rem;
    padding-block-start: 3.2rem;
  }

  &__copyright {
    font-size: 1.6rem;
    color: var(--white);
    font-weight: 400;
    padding-block: 3rem;
    font-family: $font-body;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.239);
  }
}

@include media(1399px) {
  .ku-footer__col h6 {
    font-size: 1.8rem;
  }
}

@include media(1199px) {
  .ku-footer__col--1 {
    flex-basis: 100%;
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.239);
  }

  .ku-footer__col--2 {
    flex-basis: 33%;
    border-left: 1px solid rgba(255, 255, 255, 0.239);
  }

  .ku-footer__col--3 {
    flex-basis: 33%;
  }

  .ku-footer__col--4 {
    flex-basis: 33%;
  }

  .ku-footer__row {
    flex-wrap: wrap;
  }
}

@include media(991px) {
  .ku-footer__col--2,
  .ku-footer__col--3 {
    flex-basis: 50%;
    border: none;
  }

  .ku-footer__col--4 {
    flex-basis: 100%;
    border: none;
    display: flex;
    border-top: 1px solid rgba(255, 255, 255, 0.239);
  }

  .ku-footer__row {
    flex-wrap: wrap;
  }

  .ku-footer__address,
  .ku-footer__contact {
    flex-basis: 50%;
  }

  .ku-footer__address {
    padding-block-end: 0;
    border-bottom: none;
  }

  .ku-footer__contact {
    padding-block-start: 0;
  }
}

@include media(575px) {
  .ku-footer__col--2,
  .ku-footer__col--3 {
    flex-basis: 100%;
  }

  .ku-footer__col--2 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.239);
  }

  .ku-footer__col--4 {
    flex-basis: 100%;
    flex-wrap: wrap;
  }

  .ku-footer__row {
    flex-wrap: wrap;
  }

  .ku-footer__address,
  .ku-footer__contact {
    flex-basis: 100%;
  }

  .ku-footer__address {
    padding-block-end: 3.2rem;
    border-bottom: none;
  }

  .ku-footer__contact {
    padding-block-start: 3.2rem;
    border-top: 1px solid rgba(255, 255, 255, 0.239);
  }

  .ku-footer__col--1 > a img {
    margin-inline: auto;
  }

  .ku-footer__col p {
    text-align: center;
  }

  .ku-footer__col--1 ul {
    justify-content: center;
  }

  .ku-footer__col h6 {
    text-align: center;
  }

  .ku-footer__col a,
  .ku-footer__col--4 li {
    text-align: center;
  }
}
